.read-more {
	display: flex;
	flex-direction: column;
	transition: max-height 0.5s ease-out;
	&_text-wrapper {
		position: relative;
		overflow: hidden;
	}
	&_label {
		cursor: pointer;
		font-style: italic;
		color: #52adc8;
	}
	&.expanded {
    .read-more_label--more {
      display: none;
    }
    .read-more_label--less {
      display: inline;
    }
	}
	&:not(.expanded) {
		.read-more_text-wrapper {
			margin-bottom: 0 !important;
			&::after {
				content: '';
				position: absolute;
				height: 6em;
				width: 100%;
				bottom: 0;
				left: 0;
				background-image: linear-gradient(to bottom, transparent, #fff);
			}
		}
		.read-more_label--more {
			display: inline;
		}
		.read-more_label--less {
			display: none;
		}
	}
}
